/* Font & Global */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');

body{
    background-color: #007ea7;
    font-family: Manrope, sans-serif;
    font-weight: 400;
    text-align: center;
    color: #010709;
    margin: 0;
}

p{
  margin: 0;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    height: 7vh;
    background-color: #C4D7F2;
    margin: 0;
    padding: 0.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
    position: relative;
    top: 6px;
}

/* Card */
#page{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card{
  width: 80vw;
  height: 330px;
  background-color: #fff;
  border-radius: 5px;
  border: solid black;
  border-width: thick;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Initial Page*/
#initial-page{
  position: absolute;
  height: auto;
  width: 98.3%;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
}
#instruction-title{
  font-size: 25px;
  font-weight: bold;
}

#bold{
  font-weight: bold;
}
#bold-red{
  color: red;
  font-weight: bold;
}

/* Test Area */
#test-area{
  position:absolute;
  width: 98.3%;
  height: 93.75%;
  padding: 10px;
}

#prompt-container{
  width:97.2%;
  position: absolute;
  top: 15%;
  font-weight: 600;
}
#prompts{
  font-size: 25px;
}

#answer-buttons{
  position:absolute;
  width:97.2%;
  top: 45%;
}

ul{
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
}

  input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    accent-color: #ca5c6d ;
  }

  .control-area{
    width: auto;
    position: absolute;
    top: 83%;
    right: 0.7%;
  }

  #counter-area{
    width: auto;
    position: absolute;
    top: 83%;
    left: 2.7%;
  }

  #counter-area p{
    font-size: 16px;
    margin: 10px 0;
  }

/* Result Area */

#result-area{
  position: absolute;
  width: 98.3%;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
  height: 94%;
}

#result-area h2{
  margin: 0 0 20px 0;
}

#result-area p{
  text-align: justify;
  margin: 10px 5px;
  font-weight: bold;
}

.pdescriptor{
  font-weight: 400;
}
#reset-btn{
  margin: 5px;
}
/* Buttons */

.btn {
  background-color: #EF798A;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 5px;
}

.btn:hover,
.btn:focus {
  background-color: #F082AC;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 420px) {
  #card {
    height: 350px
  }
  .test-area{
    width:94%;
  }
  #initial-page, #test-area, #result-area, #prompt-container, #answer-buttons, #counter-area{
    width: 93.75%;
  }
  #prompts{
    font-size: 21px;
  }
  #prompt-container{
    top:5%;
}
.control-area{
  top: 78%;
  right: 23%;
}
#counter-area{
  top: 89%
}
#counter-area p{
  font-size: 13px;
}
li {
  display: block;
  text-align: left;
}
#answer-buttons{
  top:30%;
}
#card{
  height: 450px;
}
}